@font-face {
  font-family: "Arcade";
  src: url("/assets/fonts/Arcade-Classic.TTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background: #dbdbdb;
}
.navbar {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  height: 10vh;
  width: 100vw;
  color: rgb(212, 212, 212);
  display: flex;
  align-items: center;
  background: rgb(31, 28, 28);
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-title {
  margin-left: 3rem;
}
.span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
}
.nav-title h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.nav-title h4 em {
  color: orange;
  border: 1px solid orange;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.7rem;
}
.form-control {
  padding: 1rem;
}
.form {
  padding: 1rem;
}
.form-inline {
  display: flex;
  flex-direction: row;
}
.canvas-wrapper {
  position: relative;
  overflow: auto;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  padding: 2rem;
  background-image: url("/assets/png_bg.PNG");
}

#canvas {
  min-width: 500px;
  min-height: 300px;
  display: block;
}

.label {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 1rem;
  background: rgb(40, 153, 59);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.label:hover {
  background: rgb(32, 122, 47);
}
.label,
.download {
  display: flex;
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.download {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
  background: rgba(68, 68, 226, 0.986);
  outline: none;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  margin-left: 3rem;
  border-radius: 10px;
  transition: 0.5s;
}
.download:hover {
  background: rgba(46, 46, 189, 0.986);
}

#upload {
  display: none;
}

.fab-custom-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fab-custom {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.8);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: 0.5s;
  font-size: 1.5rem;
  color: orange;
}
.fab-custom:hover {
  background: rgba(0, 0, 0, 0.9);
}
.show {
}
.hide {
  display: none;
}

.modal {
  background: red;
  margin-bottom: 1rem;
}
.modal ul {
  list-style: none;
}
.modal ul li {
  padding: 0.5rem 1rem;
  background-color: blue;
}
