* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  display: flex;
}
#canvas {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}
.content {
  flex: 1;
  background: url("/assets/invoker.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex: 1;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.skills {
  height: 150px;
  width: 150px;
  background: none;
  margin: 10px;
  border-radius: 10px;
}
.skills-active {
  display: flex;
  padding: 10px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -10px;
}
.skill {
  height: 40px;
  width: 40px;
  background: none;
  border-radius: 50%;
  margin: 5px;
}
.exort {
  background: url("/assets/exort.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quas {
  background: url("/assets/quas.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wex {
  background: url("/assets/wex.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  height: 200px;
  width: 70vw;
  min-width: 70vw;
  background: url("/assets/dashboard.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.skills-invoked {
  flex: 1;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  padding-right: 13rem;
}
.skill-invoked {
  height: 50px;
  width: 50px;
  background: none;
  margin: 9px;
  position: relative;
}
.key {
  height: 15px;
  width: 15px;
  top: -8px;
  left: -5px;
  position: absolute;
}
.key-d {
  background: url("/assets/d-key.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.key-f {
  background: url("/assets/f-key.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.defending-blast {
  background: url("/assets/defending-blast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tornado {
  background: url("/assets/tornado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ice-wall {
  background: url("/assets/ice-wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cold-snap {
  background: url("/assets/cold-snap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.forge-spirit {
  background: url("/assets/forge-spirit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ghost-walk {
  background: url("/assets/ghost-walk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sunstrike {
  background: url("/assets/sunstrike.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.emp {
  background: url("/assets/emp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.chaos-meteor {
  background: url("/assets/chaos-meteor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.alacrity {
  background: url("/assets/alacrity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1920px) {
  .skills-invoked {
    flex: 1;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25rem;
  }
}

@media screen and (max-width: 1366px) {
  .skills-invoked {
    flex: 1;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 13rem;
  }
}
